<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLSVConnection"
			 connectionString="Server=.\TAI;Database=QLSV;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>