USE [QLSV]
GO
/****** Object:  Table [dbo].[DiemHocTap]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemHocTap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [nvarchar](450) NOT NULL,
	[maHocKy] [nvarchar](450) NOT NULL,
	[maMonHoc] [nvarchar](450) NOT NULL,
	[diemHocTap] [real] NOT NULL,
	[diemHe4] [real] NOT NULL,
	[xepLoaiHocTap] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DiemHocTap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemRenLuyen]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemRenLuyen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [nvarchar](450) NOT NULL,
	[maHocKy] [nvarchar](450) NOT NULL,
	[diemRenLuyen] [real] NOT NULL,
	[xepLoaiRenLuyen] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DiemRenLuyen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[maHocKy] [nvarchar](450) NOT NULL,
	[tenHocKy] [nvarchar](max) NOT NULL,
	[namHoc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[maHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[maKhoa] [nvarchar](450) NOT NULL,
	[tenKhoa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[maKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[maLop] [nvarchar](450) NOT NULL,
	[tenLop] [nvarchar](max) NOT NULL,
	[maKhoa] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[maLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[maMonHoc] [nvarchar](450) NOT NULL,
	[tenMonHoc] [nvarchar](max) NOT NULL,
	[soTinChi] [int] NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[maMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [nvarchar](450) NOT NULL,
	[matKhau] [nvarchar](max) NOT NULL,
	[phanQuyen] [nvarchar](max) NOT NULL,
	[MSSV] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinSinhVien]    Script Date: 6/2/2025 5:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinSinhVien](
	[MSSV] [nvarchar](450) NOT NULL,
	[hoTen] [nvarchar](max) NOT NULL,
	[gioiTinh] [nvarchar](max) NOT NULL,
	[soDienThoai] [nvarchar](max) NOT NULL,
	[diaChi] [nvarchar](max) NOT NULL,
	[ngaySinh] [datetime2](7) NOT NULL,
	[hinhAnh] [nvarchar](max) NOT NULL,
	[lopID] [nvarchar](450) NOT NULL,
	[KhoamaKhoa] [nvarchar](450) NULL,
 CONSTRAINT [PK_ThongTinSinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DiemHocTap] ON 

INSERT [dbo].[DiemHocTap] ([id], [MSSV], [maHocKy], [maMonHoc], [diemHocTap], [diemHe4], [xepLoaiHocTap]) VALUES (1, N'DPM225425', N'HK03', N'MH01', 8.5, 3.5, N'Trung bình')
INSERT [dbo].[DiemHocTap] ([id], [MSSV], [maHocKy], [maMonHoc], [diemHocTap], [diemHe4], [xepLoaiHocTap]) VALUES (2, N'DPM225425', N'HK01', N'MH02', 7, 2.5, N'Khá')
INSERT [dbo].[DiemHocTap] ([id], [MSSV], [maHocKy], [maMonHoc], [diemHocTap], [diemHe4], [xepLoaiHocTap]) VALUES (3, N'DPM225426', N'HK01', N'MH01', 9, 4, N'Giỏi')
SET IDENTITY_INSERT [dbo].[DiemHocTap] OFF
GO
SET IDENTITY_INSERT [dbo].[DiemRenLuyen] ON 

INSERT [dbo].[DiemRenLuyen] ([id], [MSSV], [maHocKy], [diemRenLuyen], [xepLoaiRenLuyen]) VALUES (1, N'DPM225425', N'HK01', 85, N'Giỏi')
INSERT [dbo].[DiemRenLuyen] ([id], [MSSV], [maHocKy], [diemRenLuyen], [xepLoaiRenLuyen]) VALUES (2, N'DPM225426', N'HK01', 90, N'Giỏi')
INSERT [dbo].[DiemRenLuyen] ([id], [MSSV], [maHocKy], [diemRenLuyen], [xepLoaiRenLuyen]) VALUES (4, N'DPM225428', N'HK02', 80, N'Khá')
SET IDENTITY_INSERT [dbo].[DiemRenLuyen] OFF
GO
INSERT [dbo].[HocKy] ([maHocKy], [tenHocKy], [namHoc]) VALUES (N'HK01', N'Học kỳ 1', N'2024-2025')
INSERT [dbo].[HocKy] ([maHocKy], [tenHocKy], [namHoc]) VALUES (N'HK02', N'Học kỳ 2', N'2024-2025')
INSERT [dbo].[HocKy] ([maHocKy], [tenHocKy], [namHoc]) VALUES (N'HK03', N'Học kỳ 1', N'2025-2026')
GO
INSERT [dbo].[Khoa] ([maKhoa], [tenKhoa]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[Khoa] ([maKhoa], [tenKhoa]) VALUES (N'NNA', N'Ngôn ngữ Anh')
GO
INSERT [dbo].[Lop] ([maLop], [tenLop], [maKhoa]) VALUES (N'L01', N'DH23PM', N'CNTT')
INSERT [dbo].[Lop] ([maLop], [tenLop], [maKhoa]) VALUES (N'L02', N'DH25PM', N'CNTT')
INSERT [dbo].[Lop] ([maLop], [tenLop], [maKhoa]) VALUES (N'L03', N'DH24AV', N'NNA')
GO
INSERT [dbo].[MonHoc] ([maMonHoc], [tenMonHoc], [soTinChi]) VALUES (N'MH01', N'Toán Cao Cấp', 3)
INSERT [dbo].[MonHoc] ([maMonHoc], [tenMonHoc], [soTinChi]) VALUES (N'MH02', N'Lập Trình Cơ Bản', 4)
INSERT [dbo].[MonHoc] ([maMonHoc], [tenMonHoc], [soTinChi]) VALUES (N'MH03', N'Cơ Sở Dữ Liệu', 3)
GO
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [phanQuyen], [MSSV]) VALUES (N'admin', N'$2a$10$H4gH8vleVnovQE9MXUB7wOxAQ2XVby6N0dun2nyiq2PRcy7CBmk/.', N'admin', N'DPM225425')
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [phanQuyen], [MSSV]) VALUES (N'user', N'$2a$10$H4gH8vleVnovQE9MXUB7wOxAQ2XVby6N0dun2nyiq2PRcy7CBmk/.', N'user', N'DPM225426')
GO
INSERT [dbo].[ThongTinSinhVien] ([MSSV], [hoTen], [gioiTinh], [soDienThoai], [diaChi], [ngaySinh], [hinhAnh], [lopID], [KhoamaKhoa]) VALUES (N'DPM225425', N'Nguyễn Văn An', N'Nam', N'0909123451', N'123 Đường Lê Lợi, Hà Nội', CAST(N'2025-06-02T13:23:55.2888350' AS DateTime2), N'no-image.jpg', N'L03', N'CNTT')
INSERT [dbo].[ThongTinSinhVien] ([MSSV], [hoTen], [gioiTinh], [soDienThoai], [diaChi], [ngaySinh], [hinhAnh], [lopID], [KhoamaKhoa]) VALUES (N'DPM225426', N'Trần Thị Bình', N'Nữ', N'0909123452', N'45 Phố Huế, Hà Nội', CAST(N'2025-06-02T13:32:25.4739272' AS DateTime2), N'no-image.jpg', N'L03', N'CNTT')
INSERT [dbo].[ThongTinSinhVien] ([MSSV], [hoTen], [gioiTinh], [soDienThoai], [diaChi], [ngaySinh], [hinhAnh], [lopID], [KhoamaKhoa]) VALUES (N'DPM225427', N'Lê Minh Cường', N'Nam', N'0909123453', N'789 Nguyễn Trãi, Hà Nội', CAST(N'2000-12-05T00:00:00.0000000' AS DateTime2), N'no-image.jpg', N'L01', N'CNTT')
GO
ALTER TABLE [dbo].[DiemHocTap]  WITH CHECK ADD  CONSTRAINT [FK_DiemHocTap_HocKy_maHocKy] FOREIGN KEY([maHocKy])
REFERENCES [dbo].[HocKy] ([maHocKy])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemHocTap] CHECK CONSTRAINT [FK_DiemHocTap_HocKy_maHocKy]
GO
ALTER TABLE [dbo].[DiemHocTap]  WITH CHECK ADD  CONSTRAINT [FK_DiemHocTap_MonHoc_maMonHoc] FOREIGN KEY([maMonHoc])
REFERENCES [dbo].[MonHoc] ([maMonHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemHocTap] CHECK CONSTRAINT [FK_DiemHocTap_MonHoc_maMonHoc]
GO
ALTER TABLE [dbo].[DiemHocTap]  WITH CHECK ADD  CONSTRAINT [FK_DiemHocTap_ThongTinSinhVien_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[ThongTinSinhVien] ([MSSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemHocTap] CHECK CONSTRAINT [FK_DiemHocTap_ThongTinSinhVien_MSSV]
GO
ALTER TABLE [dbo].[DiemRenLuyen]  WITH CHECK ADD  CONSTRAINT [FK_DiemRenLuyen_HocKy_maHocKy] FOREIGN KEY([maHocKy])
REFERENCES [dbo].[HocKy] ([maHocKy])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemRenLuyen] CHECK CONSTRAINT [FK_DiemRenLuyen_HocKy_maHocKy]
GO
ALTER TABLE [dbo].[DiemRenLuyen]  WITH CHECK ADD  CONSTRAINT [FK_DiemRenLuyen_ThongTinSinhVien_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[ThongTinSinhVien] ([MSSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemRenLuyen] CHECK CONSTRAINT [FK_DiemRenLuyen_ThongTinSinhVien_MSSV]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa_maKhoa] FOREIGN KEY([maKhoa])
REFERENCES [dbo].[Khoa] ([maKhoa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa_maKhoa]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ThongTinSinhVien_MSSV] FOREIGN KEY([MSSV])
REFERENCES [dbo].[ThongTinSinhVien] ([MSSV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ThongTinSinhVien_MSSV]
GO
ALTER TABLE [dbo].[ThongTinSinhVien]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinSinhVien_Khoa_KhoamaKhoa] FOREIGN KEY([KhoamaKhoa])
REFERENCES [dbo].[Khoa] ([maKhoa])
GO
ALTER TABLE [dbo].[ThongTinSinhVien] CHECK CONSTRAINT [FK_ThongTinSinhVien_Khoa_KhoamaKhoa]
GO
ALTER TABLE [dbo].[ThongTinSinhVien]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinSinhVien_Lop_lopID] FOREIGN KEY([lopID])
REFERENCES [dbo].[Lop] ([maLop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinSinhVien] CHECK CONSTRAINT [FK_ThongTinSinhVien_Lop_lopID]
GO
